@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* --swiper-pagination-top: 0; */
}

* {
	/* outline: 1px solid lightblue; */
}

/* @layer base {
	body {
		@apply bg-base-300;
	}
} */

body {
	/* overflow: hidden; */
}

.iframe {
	overflow: hidden;
	border: 0;
	align-self: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.swiper {
	width: 100%;
	height: 100%;
	/* position: relative; */
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* .swiper-wrapper {
	position: relative;
} */
/* .mySwiper {
	position: relative;
} */

.swiper-pagination {
	position: absolute;
	top: 0 !important;
	right: 10px;
	width: auto !important;
	left: auto !important;
	margin: 0;
}
